<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Presentations by Laurent Vanbever</title>

  <!-- Open Graph / Facebook / LinkedIn -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://talks.vanbever.eu/">
  <meta property="og:title" content="Presentations by Laurent Vanbever">
  <meta property="og:description" content="A collection of presentations and talks on network verification, configuration synthesis, and network programmability from 2008 to present.">
  <meta property="og:image" content="https://talks.vanbever.eu/zurich_goes_networking.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://talks.vanbever.eu/">
  <meta property="twitter:title" content="Presentations by Laurent Vanbever">
  <meta property="twitter:description" content="A collection of presentations and talks on network verification, configuration synthesis, and network programmability from 2008 to present.">
  <meta property="twitter:image" content="https://talks.vanbever.eu/zurich_goes_networking.jpg">

  <link rel="icon" type="image/svg+xml" href="https://nsg.ee.ethz.ch/images/nsg_logo_icon.svg">
  <link rel="stylesheet" href="style.css">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
<article>
<header>
    <h1 class="booktitle">Presentations</h1>
    <h1 class="bookauthor">Laurent Vanbever</h2>
</header>

<div id="frontpage">

    <p>
        <img src="zurich_goes_networking.jpg"/>
        <span class="marginnote" style="padding: 1rem 1.5rem; line-height: 1.75; width: 40%; margin-right: -50%;">Hand-made collage using pictures of the <a href="https://en.wikipedia.org/wiki/Grossm%C3%BCnster">Grossmünster</a> in downtown Zürich and <wbr> singlemode fiber optic connectors.<br/></span>
        <div style="font-size:7.5pt;">Image copyright: Laurent Vanbever</div>
    </p>

    <section id="contact-us" class="level1" style="margin-top: 50px;">
        <p>
            Given the time I spent preparing talks&mdash;which is time well-invested if you ask me&mdash;I have always been frustrated by the little visibility they get. This page is my attempt to correct that. It showcases (almost) all the presentations and talks I have given over the years since 2008, in reverse chronological order.
        </p>
        <p>
            Besides learning about my research, browsing through this list is a good way to see how my presentation style has evolved over the years. (Hopefully for the better, but I'll let you be the judge of that.)
        </p>
        <p>
            For each talk, you'll find a description of its context along with links to both an online (and relatively mobile-friendly, at least in landscape mode) slideshow and the PDF. Links to recordings are also included, whenever available. The online slideshow is made using <code>reveal.js</code>. Use arrow keys to navigate, <code>Space</code> for next slide, <code>F</code> for fullscreen, <code>O</code> or <code>Esc</code> for overview, and <code>?</code> for the complete list of keyboard shortcuts. In case you wonder, I use <code>Keynote</code> for designing my slides and rely on a grid-based design.
        </p>
        <p style="margin-bottom: 0.5rem;">
            A couple of highlights:
        </p>
        <ul style="margin-top: 0.5rem;">
            <li>My latest <a href="fmano-keynote/index.html">keynote talk</a> which surveys our recent works on network verification;</li>
            <li>My <a href="tenure_talk/index.html">tenure talk</a> which surveys my research at ETH between 2015 and 2020;</li>
            <li>The presentation I gave to get my <a href="erc_synet/index.html">ERC Starting Grant</a>;</li>
            <li>The <a href="job_talk/index.html">job talk</a> I gave at ETH when applying to become a professor;</li>
            <li>The presentation I gave for my <a href="phd_thesis/index.html">PhD defense</a>, in 2012 (gasp);</li>
            <li>The <a href="inm/index.html">first talk</a> I ever gave at a conference (technically, it was a workshop). Clearly not the greatest, but we all start somewhere.</li>
        </ul>
        <p>
            Disclaimer: This page is a work in progress: not all the talks are there (yet), so please come back. Some talks overlap in topics and/or content. To avoid useless redundancies though, I only included one copy of each talk even though I might have given it at various venues. (If you are interested in a more exhaustive list of the talks I have given over the years, feel free to check out my <a href="https://vanbever.eu/pdfs/vanbever_curriculum_vitae_latest.pdf">curriculum vitae</a>.)
        </p>
        <p>
            For questions or complaints, feel free to reach me at <code>lvanbever@ethz.ch</code>.
        </p>
    </section>

    <section id="talks-by-year" class="level1">
    </section>
</div>

<div id="lastupdate">
    Last updated: Tue Jun 18 08:23:35 CEST 2024
</div>

</article>
</body>
</html>